<div class="mobile-chat">
    <div class="head-screen container">
        <div class="notification-center flex justify-content-between align-items-center">
            <div class="time">{{time}}</div>
            <div class="icons flex align-items-center">
                <div class="network-icon icon"><img src="../.././../assets/Group 685.svg" alt=""></div>
                <div class="wifi-icon icon"><img src="../.././../assets/wifi-alt.svg" alt=""></div>
                <div class="bettery-icon icon"><img src="../.././../assets/battery-full.svg" alt=""></div>
            </div>
        </div>
        <div class="sender flex align-items-center">
            <div class="image">
                <img src="../../../assets/Group 3301.svg" alt="">
            </div>
            <div class="name">
                {{name}}
            </div>
        </div>
    </div>
    <div class="body-screen">
        <div class="date">
            <span>{{date}}</span>
        </div>
        <div class="card-message">
            <div class="image">
                <img src="../../../assets/istockphoto-472000128-1024x1024.jpg" alt="">
            </div>
            <div class="text">
                Hello Mohamed,
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, cupiditate nesciunt. Tempora optio eos voluptatem itaque perspiciatis minus facere neque distinctio, inventore consectetur quae, quis fuga molestiae ut, soluta vel!
            </div>
            <div class="muted-text">
                <div class="text-left">thank you for your time</div>
                <div class="text-right time">
                    10:30
                </div>
            </div>
            <div class="buttons">
                <ul>
                    <li><a href="https://placehold.co/" target="_blank">Visit Our Website</a></li>
                    <li><a href="tel:+201069803585" target="_blank">Call Us</a></li>
                    <li><a target="_blank" (click)="aleart()">Done</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="foot-screen flex justify-content-between align-items-center">
        <div class="icon">
            <img src="../../../assets/plus.svg" alt="">
        </div>
        <div class="input w-80">
            <input type="text" class="w-100">
            <img src="../../../assets/sticker.svg" alt="">
        </div>
        <div class="icons flex">
            <img src="../../../assets/camera.svg" alt="">
            <img src="../../../assets/mic-24-regular.svg" alt="">
        </div>
    </div>
</div>